@charset "utf-8"

// colors
$dark: hsl(0, 0%, 21%)
$secondary: rgb(82, 29, 139)
// $primary: #ee4a22
$primary: #be25ff
$light-primary: rgba(231,173,255,1)
$blurred-background: rgba(255, 255, 255, 0.3)
$circle-size: 1rem
$title-color: black

// overwrite bulma variables
$background: whitesmoke
$footer-background-color: $dark
$footer-color: whitesmoke
$footer-padding: 3rem 1.5rem
$link: $primary
$link-hover: $light-primary

$variable-columns: true

// the font is installed from https://github.com/fontsource/fontsource and is imported in page.tsx
$family-sans-serif: "Open Sans"

// see https://codepen.io/enbee81/pen/yLyrmyg for the diagonal layout
// $magic-number: 0.1455 is calculated by this formula: abs( tan(6°) / 2 ) (and we use 6° as y-skew)
$width: 42rem
$magic-number: 0.1455
$skew-padding: calc($width * $magic-number)

// selective import of bulma modules
@import '~bulma/sass/base/_all.sass'
@import '~bulma/sass/elements/box.sass'
@import '~bulma/sass/elements/button.sass'
@import '~bulma/sass/elements/container.sass'
@import '~bulma/sass/elements/title.sass'
@import '~bulma/sass/elements/content.sass'
@import '~bulma/sass/helpers/_all.sass'
@import '~bulma/sass/grid/columns.sass'
@import '~bulma/sass/layout/_all.sass'
@import '~bulma/sass/utilities/_all.sass'



html
    scroll-behavior: smooth
    min-height: 100vh

main
    flex: 1 0 auto

h1, h2, h3, h4, h5, h6
    font-family: "Poppins", sans-serif
    line-height: 1.2

.page
    display: flex
    flex-direction: column
    min-height: 100vh

.title
    @extend .title
    @include desktop
        font-size: 3.5vw

.content ol
    margin-top: 0.5rem

.opener-background
    min-height: 100vh
    background-image: linear-gradient(29deg, $light-primary 0%, rgba(255,255,255,0) 100%)
    background-size: cover
    background-position: center

    @include widescreen
        background-image: url('../../images/landing.svg'), linear-gradient(29deg, $light-primary 0%, rgba(255,255,255,0) 100%)
        background-repeat: no-repeat, no-repeat
        background-size: 60%, cover
        background-position: bottom left 15%, center


.opener-content
    text-align: center
    margin-top: 5%
    @include fullhd
        margin-left: 50%



@keyframes rocket-launch
    // make it so we get a 45deg. angle moving rocket
    //-3/10 x + 30
    0%
        opacity: 0
        transform: translate(-35vh, 35vh)
    85%
        transform: translate(-8vh, 8vh)
        opacity: 1
    97%
        transform: translate(-1vh, 1vh)
    100%
        transform: translate(0, 0)

.rocket
    animation: rocket-launch 1.5s ease-in-out
    animation-delay: 1s

// extend Bulma's container class to have a fixed width
.container
    @extend .container
    position: relative
    max-width: var(--width)

.hero
    @extend .hero
    display: grid

.footer
    @extend .footer
    margin-top: auto
    flex-shrink: 0
    a
        color: $white-ter
        &:hover
            color: $primary

.profile-entry
    transition-delay: 300ms
    transition: opacity 1s
    opacity: 1

.cv-entry
    transition: all 1s ease
    transform: translateY(70%)

.cv-entry-visible
    transform: translateY(0%)


.cv-icon-column
    @include mobile
        padding-bottom: 0rem
        transform: translateY(0.5rem)
    @include until-widescreen
        font-size: 0.5rem

.cv-icon-box
    background-color: transparent
    overflow: hidden
    padding: 1.25rem
    text-align: center
    @include mobile
        padding: 0.5rem

.cv-icon-container
    opacity: 0
    transition: all 2s ease
    transform: translateY(100%)

    display: inline-block
    margin: 0.4rem 1rem
    @include until-widescreen
        margin: 0.5rem 0.8rem
    @include mobile
        margin: 0.4rem 0.5rem

.cv-icon-container-visible
    opacity: 1
    transform: translateY(0%)

.cv-icon
    color: $light-primary
    font-size: 2.5rem
    transition: all 300ms
    @include desktop
        &:hover
            transform: scale(1.5)
    @include until-widescreen
        font-size: 1.5rem
        margin: 0px
    @include mobile
        font-size: 1rem
        margin: 0px

.biz-icon
    font-size: 4rem
    color: $primary

.biz-tier
    min-height: 25vh
    transition: all 300ms
    @include widescreen
        // transform: scale(1.1)
        &:first-child
            transform: scale(1)
        &:last-child
            transform: scale(1)
        &:hover
            transform: scale(1.2)
            z-index: 2

.cta
    margin-top: 5rem

.cta-button
    text-align: center
    color: $white
    background-color: $primary
    border-radius: 6.25rem
    padding: 1rem 2rem
    margin-top: 2rem
    display: inline-block
    transition: all 0.5s
    &:after
        position: absolute
        content: '»'
        margin-left: 1rem
        display: inline-block
        opacity: 0
        transition: all 0.5s
        transform: translateX(-6px)


    &:hover
        // custom hover animation, because otherwise bulma's link hover kicks in
        color: $white
        padding: 1rem 3rem 1rem 2rem
        &:after
            opacity: 1
            transform: translateX(0)

